<div class="main users-edit">
  <div class="container">
    <div class="form-heading">アカウント編集</div>
    <div class="form users-form">
      <div class="form-body">
        <% @user.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
        <%= form_tag("/users/#{@user.id}/update", {multipart: true}) do %>
          <p>ユーザー名</p>
          <input name="user_id" value="<%= @user.user_id %>">
          <p>メールアドレス</p>
          <input name="email" value="<%= @user.email %>">
          <p>画像</p>
          <input name="image" type="file">
          <%= submit_tag "保存", data: { confirm: "保存してもいいですか？" }  %>
        <% end %>
      </div>
    </div>
  </div>
</div>