<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">編集する</h1>
    <%= form_tag("/posts/#{@post.id}/update") do %>
      <% @post.errors.full_messages.each do |message| %>
        <div class="form-error">
          <%= message %>
        </div>
      <% end %> 
      <div class="form">
        <div class="form-body">
          <p>タイトル</p>
          <textarea name="title"><%= @post.title %></textarea>
          <p>内容</p>
          <textarea name="content"><%= @post.content %></textarea>
          <p>URL</p>
          <textarea name="url"><%= @post.url %></textarea>
          <%= submit_tag "保存", data: { confirm: "保存してもいいですか？" }  %>
        </div>
      </div>
    <% end %>
  </div>
</div>